<div ng-init="loadData()">
<h2>Stores</h2>
<table class="table">
  <tr>
    <th>Store</th>
    <th>City</th>
    <th>Region</th>
    <th>State</th>
  </tr>
  <tr ng-repeat="location in locations">
    <td>{{location.store}}</td>
    <td>{{location.city}}</td>
    <td>{{location.region}}</td>
    <td>{{location.state}}</td>
  </tr>
</table>
<h2>Products</h2>
<ol>
    <li ng-repeat="product in products">{{product}}</li>
</ol>
<button ng-click="loadData()">Reload data</button>
</div>
