<div ng-controller="Login">
    <form>
        <label>Username: <input type="text" ng-model="username"></label>
        <label>Password: <input type="password" ng-model="password"></label>
        <button ng-click="login()">Login</button>
        <span class="errorMessage">{{ errorMessage }}</span>
    </form>
</div>
