<!doctype html>
<html lang="en" ng-app="app">
<head>
  <meta charset="utf-8">
  <title>Application</title>
  <link href="css/bootstrap.css" rel="stylesheet"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link href="css/bootstrap-responsive.css" rel="stylesheet"/>
  <link rel="stylesheet" href="css/app.css"/>
</head>
<body>
  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="#/">My Application</a>
      <ul class="nav" ng-controller="NavList">
        <li ng-class="navCls('home')"><a href="#/home">Home</a></li>
        <li><a ng-click="logout()">Logout</a></li>
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div ng-view></div>
      </div>
    </div>
  </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
  -->
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular-http-auth.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>
